<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/Home/Index"></a>
  <ul class="nav navbar-nav ml-auto">
    <li>
      @Html.Action("BaseInformation","Home")
    </li>

    
  </ul>
</header>
