@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Ana Sayfa</li>
    <!-- Breadcrumb Menu-->
  </ol>
  @Html.Partial("~/Views/Word/_SearchPage.cshtml")
</main>
