<div class="card" style="margin: 0 30px 0 30px; height:350px;">
  <div class="card-header">
    <strong>Arama Yapınız</strong>
  </div>
  <div class="card-body">
    <form action="/Word/Search" method="post" class="form-horizontal">
      <div style="margin-top:50px;"class="form-group row">
        <label class="col-md-3 form-control-label" for="hf-email"><h2>Konu :</h2></label>
        <div class="col-md-9">
          <input type="text" class="wordTextbox form-control" name="word" placeholder="Kelime Giriniz...">
          <span class="help-block">Aramak istediğiniz konuyu giriniz.</span>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary" style="height:30px; width:150px"><h5><i class="fa fa-dot-circle-o"></i> Ara</h5></button>
    </form>
  </div>
  <div class="card-footer" align="right">
  </div>
</div>